<!--about start-->
<section class="about" style="background-image:url(images/background/about-bg.jpg);">
  <div class="container">
      <div class="item-box">
          <div class="row">
              <div class="single-column col-md-6 col-sm-12">
                  <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                      <div class="post-content">
                          <div class="sec-title">
                              <h2>Welcome to Study Abacus</h2>
                          </div>
                          <div class="text">
                              <p>
                                  Team STUDY ABACUS set up by a group of professionals who are from different walks of life and were involved in various educational and socio-cultural activities in their own respective areas. All these like minded individuals decided to join together and serve the society.<br><br>
                                  Team STUDY ABACUS believes by imparting education to women and children will empower them to stand in the society on their own and to make them self-reliant to earn themselves improve and develop local educational and cultural programs and in doing so in turn provide better opportunities for children and women.
                              </p>
                              <br>
                              
                          </div>
                         
                      </div>
                  </div>
              </div>
              <div class="single-column col-md-6 col-sm-12" id="mission">
                  <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                      <h4><u><b>Mission</b></u></h4>
                      <p>Our mission is to reach to maximum number of kids, train them to create a strong foundation for mathematics through abacus for our children with efficiency and accuracy.</p>
                      <br>
                      <h4><u><b>Vision</b></u></h4>
                      <p>Our vision is to grow nationally with continuous research &amp; development and introducing high class programmes and trainings, keeping in mind the children of the Nation and building up relations with its business partners, franchises, employees etc.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--about end-->
