<!--our-service start-->
<section class="our-service">
  <div class="container">
      <div class="sec-title text-center">
          <h2>Our Services</h2>
      </div>

      <div class="item-box">
          <div class="row">

              <div class="column col-md-4 col-sm-12">
                  <div class="item right">
                      <div class="icon"><span class="fas fa-child"></span>
                      </div>
                      <h4><a href="#">Abacus Junior</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                  </div>
                  <div class="item right">
                      <div class="icon"><span class="fa fa-chalkboard-teacher"></span>
                      </div>
                      <h4><a href="#">Abacus Basic</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                  </div>
                  <div class="item right">
                      <div class="icon"><span class="fa fa-user-graduate"></span>
                      </div>
                      <h4><a href="#">Abacus Advanced</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                  </div>
              </div>

              <div class="column col-md-4 col-sm-12">
                  <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                      <figure class="img-box">
                         <img src="images/service/1.png" alt="">         
                      </figure>
                  </div>
              </div>

              <div class="column col-md-4 col-sm-12">
                  <div class="item left">
                      <div class="icon"><span class="fas fa-school"></span>
                      </div>
                      <h4><a href="#">Abacus for School</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                  </div>
                  <div class="item left">
                      <div class="icon"><span class="fa fa-calculator"></span>
                      </div>
                      <h4><a href="#">Vedic Maths</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                  </div>
                  <div class="item left">
                      <div class="icon"><span class="fa fa-font"></span>
                      </div>
                      <h4><a href="#">English Grammar</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--our-service end-->