<!--founder section-->
<section class="founder" style="background-image:url(images/background/founder.jpg);">
  <div class="container">
	  <div class="text-center text-white">
		  <h1>Testimonials</h1>
	  </div>
	  <div class="overlay">
			<div class="founder-carousel">

				<div class="item">
					<figure class="icon-box">
						<i class="icon fa fa-quote-right" aria-hidden="true"></i>
					</figure>
					<div class="content-holder">
						<h4>Samanta Doe - <span>(Students Mother)</span></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
					</div>
				</div>
				<div class="item">
					<figure class="icon-box">
						<i class="icon fa fa-quote-right" aria-hidden="true"></i>
					</figure>
					<div class="content-holder">
						<h4>Samanta Doe - <span>(Students Mother)</span></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
					</div>
				</div>
				<div class="item">
					<figure class="icon-box">
						<i class="icon fa fa-quote-right" aria-hidden="true"></i>
					</figure>
					<div class="content-holder">
						<h4>Samanta Doe - <span>(Students Mother)</span></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
					</div>
				</div>
			</div>
      </div>
  </div>
</section>
<!--founder section end-->
