<!--founder section-->
<section class="founder" style="background-image:url(images/background/founder.jpg);">
  <div class="container">
		<h1>
			Testimonials
		</h1>
	  <div class="overlay">
			<div class="founder-carousel">

				{% for review in reviews %}
					<div class="item">
						<figure class="icon-box">
							<i class="icon fa fa-quote-right" aria-hidden="true"></i>
						</figure>
						<div class="content-holder">
							<h4>{{review['name']}} - <span>{{review['subtitle']}}</span></h4>
							<p>{{review['content']}}</p>
						</div>
					</div>
				{% endfor %}

			</div>
      </div>
  </div>
</section>
<!--founder section end-->
