{% extends 'base.html' %}

{% block content %}
    <div class="boxed_wrapper">

        {% include 'header.html' %}

        <!--Page Title-->
        <section class="page-title">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                        <h1>ABACUS (Advance)</h1>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right path"><a href="index-2.html">Home</a>&ensp;>&ensp;<a href="#">Programmes</a>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
        </section>
        <!--Page Title Ends-->
		<!--course-single start-->
        <section class="course-single">
            <div class="container">
                <div class="row clearfix">
                    <div class="column col-md-4 col-sm-12 col-xs-12">
                        <div class="course">
                            <div class="sec-title">
                                <h3>Course Informations</h3>
                            </div>
                            <ul class="informations">
                                <li><span class="icon-left fa fa-calendar"></span>Start Date<span class="text-right">Jan 15, 2017</span>
                                </li>
                                <li><span class="icon-left fa fa-birthday-cake"></span>Years Old<span class="text-right">03 - 05 Years</span>
                                </li>
                                <li><span class="icon-left fa fa-anchor"></span>Course Size<span class="text-right">09 Seats</span>
                                </li>
                                <li><span class="icon-left fa fa-clock-o"></span>Durations<span class="text-right">9AM - 3PM</span>
                                </li>
                                <li><span class="icon-left fa fa-user"></span>Course Staff<span class="text-right">2 Teachers</span>
                                </li>
                                <li><span class="icon-left fa fa-money"></span>Course Price<span class="text-right">$50.00</span>
                                </li>
                            </ul>
                            <ul class="link_btn text-center">
                                <li><a href="#" class="thm-btn">Enroll now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column col-md-8 col-sm-12 col-xs-12">
                        <div class="outer-box">
                            
                            <div class="content-box">
                                <div class="sec-title">
                                    <h2>Students Abacus Training</h2>
                                </div>
                                <div class="text">
                                    <p>Abacus is a tool which has a very simple and logical system. It helps the children to develop mental calculation ability to understand the basic number system, visualize close relations between the numbers and numerals and thereby develop children's ability to perform mental calculation, boost children's confidence, provide sense of achievement in the child's proficiency &mp; lead to greater mental capacity, promote intuitive thinking, enhance problem solving capability, enhance creativity and improve concentration and mental endurance.</p>
                                </div>

                                <div class="text">
                                    <p>Human Brain consists of right lobe and left lobe. The left lobe is referred to as digital brain and control reading and writing, calculation and logical thinking, whereas right lobe referred to as analog brain which controls three dimensional sense, artistic cells and creativity. Generally left lobe or brain is utilized to learn languages and hence usually more efficient. Abacus learning trains the right lobe or brain and the right brain once develops then combination of both the brains becomes more effective. Though there are several other methods to develop the right brain but one of them is the calculation with abacus which is quite effective.</p>
                                </div>
                                <div class="text">
                                    <p>It is rather proved that this technique helps the children to nurture the inbuilt power and ability to make use of the same to their optimum level. At younger level the learning process is easier and interesting.</p>
                                </div>
                                <div class="text">
                                    <p>STUDY ABACUS offers following Abacus programme for the children between age group of 6 yrs to 15 yrs.<br>
                                    For details/ information/ fee structure etc. you may kindly contact at info@studyabacus.com.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--course-single end-->
		
        {% include 'footer.html' %}
        
    </div>
{% endblock %}