<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Abacus Classes | Vedic Maths Classes | Abacus Franchise | Abacus Teacher Training</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


</head>

<body>

    {% block content %} {% endblock %}

    
        <!-- jQuery js -->
        <script src="/js/jquery.js"></script>
        <!-- bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- owl carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- google map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>
        <script src="/js/gmap.js"></script>
        <!-- mixit up -->
        <script src="/js/wow.js"></script>
        
        <!-- revolution slider js -->
        <script src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

        <!-- fancy box -->
        <script src="/js/jquery.flexslider.js"></script>
        <script src="/js/validation.js"></script>
        <script src="/js/custom.js"></script>
    
    {% block script %} {% endblock %}

</body>

</html>
