{% extends 'base.html' %}

{% block content %}
    <div class="boxed_wrapper">

        {% include 'header.html' %}

        <!--Page Title-->
        <section class="page-title">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                        <h1>Careers</h1>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right path"><a href="index-2.html">Home</a>&ensp;>&ensp;<a href="#">Careers</a>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
        </section>
        <!--Page Title Ends-->
		<!--course-single start-->
        <section class="course-single">
            <div class="container">
                <div class="row clearfix">
                    
                    <div class="column col-md-12 col-sm-12 col-xs-12">
                        <div class="outer-box">
                            
                            <div class="content-box">
                                <div class="sec-title">
                                    <h2>Career Opportunity</h2>
                                </div>
                                <div class="text">
                                    <p>To establish your own Abacus, Vedic Maths and Personality Development Training center any where in India, we are encouraging Housewives, Part Time Teachers, Individuals and Institutions, who are in school education field. We are offering the best carrier opportunity to begin with low investment and gain better returns.</p>
                                </div>

                                <div class="text">
                                    <p>Complete support towards establishing your own training center, marketing support and training to the teachers with study material will be provided by our institute.</p>
                                </div>
                                <div class="text">
                                    <p>Special package for private schools, who want to introduce abacus training as a part of their regular curriculum. For further details/information/fee structure etc. <br>
                                    <b>Contact at</b> info@studyabacus.com</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    
                    <div class="column col-md-6 col-sm-12 col-xs-12 col-xs-6">
                        <div class="card">
                          
                          
                            <h3 class="text-center"><b>Franchise Offers</b></h3> 
                            <br>
                            <p>
                                To become a Franchise of Abacus and Vedic Maths Training center any where in India, we encourage Housewives, Part Time Teachers, Individuals and Institutions. We are offering the best carrier opportunity to begin with low investment and gain better returns.
                                Complete support towards establishing your own training center, marketing and training to the teachers with study material will be provided by our institute.
                                For further details/information/fee structure etc. <br>
                                <b>Contact at</b> info@studyabacus.com
                            </p> 
                          
                        </div>
                    </div>
                    <div class="column col-md-6 col-sm-12 col-xs-12 col-xs-6">
                        <div class="card">
                          
                          
                            <h3 class="text-center"><b>Special Offers for School</b></h3> 
                            <br>
                            <p>
                                Special package for private schools, who want to introduce abacus training as a part of their regular curriculum. 
                                Complete technical support to schools with study material will be provided by our institute.
                                For further details/information/fee structure etc. <br>
                                <b>Contact at</b> info@studyabacus.com
                            </p> 
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--course-single end-->
		
        {% include 'footer.html' %}
        
    </div>
{% endblock %}