{% extends 'base.html' %}

{% block content %}
    <div class="boxed_wrapper">

        {% include 'header.html' %}

        <!--Page Title-->
        <section class="page-title">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right path"><a href="index-2.html">Home</a>&ensp;>&ensp;<a href="#">Contact Us</a>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
        </section>
        <!--Page Title Ends-->
		<!--contact-address start-->
        <section class="contact-address">
            <div class="container">
                <div class="inner-box">
                    <div class="item-list">
                        <div class="row">
                            <div class="item col-md-4 col-sm-6 col-xs-12">
                                <div class="border">
                                    <div class="icon-box">
                                        <i class="icon fa fa-map-marker"></i>
                                    </div>
                                </div>
                                <h3>Address</h3>
                                <p>G-27, 104, First Floor, Sector-3, Rohini,
                                    <br> New Delhi-110085</p>
                            </div>
                            <div class="item col-md-4 col-sm-6 col-xs-12">
                                <div class="border">
                                    <div class="icon-box">
                                        <i class="icon fa fa-phone"></i>
                                    </div>
                                </div>
                                <h3>Phone</h3>
                                <p>+91 9891400628 
                                    <br>+91 9717999480</p>
                            </div>
                            <div class="item col-md-4 col-sm-6 col-xs-12">
                                <div class="border">
                                    <div class="icon-box">
                                        <i class="icon fa fa-envelope"></i>
                                    </div>
                                </div>
                                <h3>Email</h3>
                                <p>info@studyabacus.com
                                  
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!--contact-address end-->
		<!--contact_details start-->
        <section class="contact_details sec-padd">
            <div class="container">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.4768447844094!2d77.10117101497606!3d28.705292187535253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d014daec2c76d%3A0x3e97464b19f24209!2sSTUDY+ABACUS!5e0!3m2!1sen!2sin!4v1561133124554!5m2!1sen!2sin" 
                    frameborder="0" 
                    style="border:0" 
                    height = 500
                    class="col-xs-12 col-sm-12 col-md-4 col-lg-6"
                    allowfullscreen></iframe>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                     <div class="sec-title text-center">
                    <h2>Get In <span>Touch</span></h2>
                    
                </div>
                <div class="default-form-area">
                    <form id="contact-form" name="contact_form" class="default-form" action="" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group style-two">
                                    <input type="text" name="name" class="form-control" value="" placeholder="Name" required="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group style-two">
                                    <input type="email" name="email" class="form-control required email" value="" placeholder="Email" required="">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group style-two">
                                    <input type="text" name="phone_number" class="form-control" value="" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group style-two">
                                    <textarea name="message" class="form-control textarea required" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="contact-section-btn text-center">
                            <div class="form-group style-two">
                                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                <button class="thm-btn thm-color" type="submit" data-loading-text="Please wait...">send message</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                
            </div>
        </section>
		<!--contact_details end-->

		<!--contact_us start-->
        <section class="contact_us">
            <div class="container">
               
            </div>
        </section>
        <!--contact_us end-->

        {% include 'footer.html' %}
        
    </div>
{% endblock %}