<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    		<link rel="icon" type="image/x-icon" href="images/favicon.png" />
	    <title>Study Abacus | Learn Vedic Maths | Teacher Training | Start-Up</title>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            $(function(){
                $("#header").load("header.html")
                $("#footer").load("footer.html")
                $("#upper").load("include_upper.html")
                $("#bottom").load("include_bottom.html")
            })
        </script>
        <div id="upper"></div>
</head>


<body class="page page-id-857 page-template-default themerex_body body_style_boxed body_filled theme_skin_education article_style_stretch layout_single-standard template_single-standard top_panel_style_light top_panel_opacity_solid top_panel_show top_panel_above menu_right user_menu_show sidebar_hide bg_image_2 wpb-js-composer js-comp-ver-4.6.1 vc_responsive">
	
	
	
	<div class="body_wrap">

		
		<div class="page_wrap">

						
			<div class="top_panel_fixed_wrap"></div>

			<div id="header"></div>
                 <style>
				.page_top_wrap{
					background-color:#018763 !important;
						
				}
				
				</style>
            	<div class="page_top_wrap page_top_title page_top_breadcrumbs">
               
					<div class="content_wrap">
						<div class="breadcrumbs">
								<a class="breadcrumbs_item home" href="index.php">Home</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">Contact</span>							
                        </div>
<h1 class="page_title" style="color:#fff">Contact</h1>
											</div>
				</div>
			
			<div class="page_content_wrap">

				
<div class="content">
<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-756 page type-page status-publish hentry">
<section class="post_content" itemprop="articleBody"><div class="sc_reviews alignright"><!-- #TRX_REVIEWS_PLACEHOLDER# --></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="wpb_wrapper"><div class="sc_section accent_top bg_tint_light" data-animation="animated fadeInUp normal" style="background-color:#f4f7f9;"><div class="sc_section_overlay" style=""><div class="sc_section_content"><div class="sc_content content_wrap" style="margin-top:2.5em !important;margin-bottom:2.5em !important;"><div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2"><div class="column-1_2 sc_column_item sc_column_item_1 odd first"><div class="sc_section" style="font-size:1.25em; line-height: 1.3em;">
<style>
.icon-pen-custom:before {
    content: '\e809';
}
contact.phpm
</style>
<span class="sc_icon icon-pen-custom alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:3.5em; line-height: 1em;"></span>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>
            	<br><b style="font-size:28px">Brain 'o' Mind Tutorials </b><br><br>
                G-27, 104, First Floor, Sector-3, Rohini, New Delhi-110085<br>
                Mobile : +91 9891400628 <br>
                Mobile : +91 9811499180<br>
                E-Mail : info@studyabacus.com<br>
            
            </p>

		</div> 
	</div> </div></div><div class="column-1_2 sc_column_item sc_column_item_2 even"><div class="sc_video_player"><div class="sc_video_frame" data-width="596" data-height="335" style="width:596px;height:335px;">
    
    <img class="video_frame" src="images/contact-us.png" width="596" height="335" frameborder="1">
    
    </div></div></div></div></div></div></div></div></div></div></div>
    
   <div class="vc_row wpb_row vc_row-fluid">
   <div class="wpb_column vc_column_container vc_col-sm-12">
   <div class="wpb_wrapper">
   <div class="sc_section" data-animation="animated fadeInUp normal">
   <div class="sc_content content_wrap" style="margin-top:3em !important;margin-bottom:3em !important;">
   
   <h2 class="sc_title sc_title_regular sc_align_center" style="margin-top:0px;margin-bottom:0.85em;text-align:center;">Contact Form</h2>
   
   <form action="mailer.php" method="POST">
   <style>
   table{
	   border-width:0px; !important;
   }
   </style>
   <table style="width:100%; height:100%; min-height:250px;" cellpadding="3" cellspacing="4" border="0">
   		<tr>
   			<td style="width:40%"><input type="text" style="width:100%; height:100%" name="name" placeholder="Name:"></td>
            <td style="width:60%" rowspan="3"><textarea style="width:100%; height:100%" name="message" placeholder="Message:"></textarea></td>
        </tr>
        <tr>
        	<td style="width:40%"><input type="text" style="width:100%; height:100%" name="email" placeholder="E-mail:"></td>
        </tr>
        <tr>
        	<td style="width:40%"><input type="text" style="width:100%; height:100%" name="phone" placeholder="Phone Number:"></td>
        </tr>
        <tr>
        <td style="width:40%"><img src=""><input type="text" style="width:100%; height:100%" name="captcha" placeholder="Captcha"></td>
        <td align="center"> <input type="submit" value="submit" ></td>
        </tr>
   </table>
   </form>
</div></div></div></div></div>
							
            <div id="footer"></div>	<!-- /.contacts_wrap -->
						
		</div>	<!-- /.page_wrap -->

	</div>		<!-- /.body_wrap -->

<a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

<div class="custom_html_section">
</div>

<div id="bottom"></div>


</body>

</html>