{% extends 'base.html' %}

{% block content %}
    <div class="boxed_wrapper">

        {% include 'header.html' %}

        <!--Page Title-->
        <section class="page-title">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                        <h1>ABACUS (Advance)</h1>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right path"><a href="index-2.html">Home</a>&ensp;>&ensp;<a href="#">Programmes</a>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
        </section>
        <!--Page Title Ends-->
		<!--course-single start-->
        <section class="course-single">
            <div class="container">
                <div class="row clearfix" style="justify-content: center; display: flex;">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfkW-eNLvInGLdwSDSFBi9slfYJ9jpd1InD7EN3eWZxTIYNWQ/viewform?embedded=true" width="700" height="1520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </section>
        <!--course-single end-->
		
        {% include 'footer.html' %}
        
    </div>
{% endblock %}