<!--footer start-->
<footer class="footer bg-style">
    <div class="container">
        <div class="footer-upper">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-widget about-widget">
                        <a href="#">
                            <img src="images/logo.png" alt="Awesome Image" />
                        </a>
                        <p>Team STUDY ABACUS believes by imparting education to women and children will empower them to stand in the society on their own and to make them self-reliant to earn themselves improve and develop local educational and cultural programs and in doing so in turn provide better opportunities for children and women.</p>

                        <ul class="social">
                            <li><a href="https://www.facebook.com/studyabacus"><span class="fab fa-facebook-f top-icon"></span></a>
                            </li>
                            <li><a href="https://twitter.com/studyabacus"><span class="fab fa-twitter top-icon"></span></a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UCX4efrIZvf7grkx4pCEW3dQ"><span class="fab fa-youtube top-icon"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget quick-links">
                        <h3 class="title">Useful Link</h3>
                        <ul>
                            <li><a href="#">Programms</a>
                            </li>
                            <li><a href="{{ url_for('centres') }}">Centres</a>
                            </li>
                            <li><a href="{{ url_for('career') }}">Careers</a>
                            </li>
                            <li><a href="{{ url_for('faq') }}">FAQ</a>
                            </li>
                            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget contact">
                        <h3 class="title">Get in Touch</h3>

                        <div class="widget-content">
                            
                            <ul class="contact-info">
                                <li><span class="icon fa fa-home"></span>G-27/104, First Floor,<br> Sector-3
                                        Rohini,<br> Delhi-11008</li>
                                <li><span class="icon fa fa-phone"></span>9891400628 / 9717999480</li>
                                <li><span class="icon fa fa-envelope"></span>info@studyabacus.com</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="copyright-text">Copyright © Study Abacus 2019. All Rights Reserved</div>
        </div>
    </div>
</footer>
<!--footer end-->



<!-- Scroll Top Button -->
<button class="scroll-top tran3s color2_bg">
    <span class="fa fa-angle-up"></span>
</button>
<!-- pre loader  -->
<div class="preloader"></div>
