<footer class="contacts_wrap bg_tint_dark contacts_style_dark">
						<div class="content_wrap">
							<div class="logo">
								<a href="index.html"><img src="images/logo.png" alt=""></a>
							</div>
							<div class="contacts_address">
								<address class="address_right">
									Mobile 1: 9891400628<br>									Mobile 2: 9811499180								</address>
								<address class="address_left">
									G-27/104, First Floor, Sector-3<br>									Rohini, Delhi-110085								</address>
							</div>
							<div class="sc_socials sc_socials_size_big">
								<div class="sc_socials_item">
									<a href="https://www.facebook.com/studyabacus" target="_blank" class="social_icons social_facebook" style="background-image: url(css/fw/images/socials/facebook.png);"><span class="sc_socials_hover" style="background-image: url(css/fw/images/socials/facebook.png);"></span></a>
								</div>
								<div class="sc_socials_item">
									<a href="https://www.twitter.com/studyabacus" target="_blank" class="social_icons social_twitter" style="background-image: url(css/fw/images/socials/twitter.png);"><span class="sc_socials_hover" style="background-image: url(css/fw/images/socials/twitter.png);"></span></a>
								</div>
								<div class="sc_socials_item">
									<a href="https://www.youtube.com/channel/UCX4efrIZvf7grkx4pCEW3dQ" target="_blank" class="social_icons social_gplus" style="background-image: url(css/fw/images/socials/gplus.png);"><span class="sc_socials_hover" style="background-image: url(css/fw/images/socials/gplus.png);"></span></a>
								</div>
							</div>						
						</div>	<!-- /.content_wrap -->
					</footer>	<!-- /.contacts_wrap -->
					 
				<div class="copyright_wrap">
					<div class="content_wrap">
						<p>© 2014 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a></p> 
					</div>
				</div>
