<header class="top_panel_wrap bg_tint_light">
    <div class="menu_main_wrap logo_center">
        <div class="content_wrap clearfix">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" class="logo_main" alt="" style="height:120; width:40;"></a>
            </div>

            <a href="#" class="menu_main_responsive_button icon-menu-1"></a>

            <nav role="navigation" class="menu_main_nav_area">
                <ul id="menu_main" class="menu_main_nav">
                    <li id="menu-item-860" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-860"><a href="index.html">Home</a>
                    </li>
                    <li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-179"><a href="#">About Us</a>
                        <ul class="sub-menu">
                            <li id="menu-item-536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-536"><a href="aboutus-whoweare.html">Who We Are</a></li>
                            <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a href="aboutus-mission.html">Mission and Vision</a></li>
                            <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254"><a href="aboutus-faq.html">FAQ</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-641"><a href="#">Our Programmes</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1212"><a href="program-abacus.html">Abacus</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1214" class="menu-item menu-item-type-post_type menu-item-object-lesson menu-item-1214"><a href="program-abacus.html">Abacus (Basic)</a></li>
                                    <li id="menu-item-1213" class="menu-item menu-item-type-post_type menu-item-object-lesson menu-item-1213"><a href="program-abacus.html">Abacus (Advanced)</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-830" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-830"><a href="program-vedic.html">Vedic Maths</a></li>
                            <li id="menu-item-1154" class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-1154"><a href="#">English Grammar</a></li>
                            <li id="menu-item-1154" class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-1154"><a href="#">Handwriting Improvement</a></li>
                            <li id="menu-item-1154" class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-1154"><a href="#">Calligraphy</a></li>
                            <li id="menu-item-1154" class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-1154"><a href="#">Learning Skill</a></li>
							<li id="menu-item-1154" class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-1154"><a href="career.html">Careers</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-829" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-829"><a href="workshop.html">Learning Centers</a>
                    </li>
                    <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="#">Result</a>
                    </li>
                    <li id="menu-item-755" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-755"><a href="contact.html">Contact Us</a></li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>