{% extends 'base.html' %}

{% block content %}
    <div class="boxed_wrapper">

        {% include 'header.html' %}

        <!--Start rev slider wrapper-->
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px">
                     <div class="rev_slider_wrapper">
                        <div id="slider1" class="rev_slider" data-version="5.0">
                            <ul>
                                <li data-transition="fade">
                                    <img src="images/slider/1.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Abacus and Vedic Maths Programme</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>Enhancing the mental power and mathematic aptitude of children team <br>Brain 'o' Mind Tutorials aims to provide best courses for children of any age</p>
                                        </div>
                                    </div>
                                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                                        <div class="slide-content-box">
                                            <div class="button">
                                                <a class="thm-btn yellow-bg" href="{{ url_for('course', slug='abacus-basic') }}">About Courses</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-transition="fade">
                                    <img src="images/slider/2.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Teachers' Training and Franchisee</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>Complete support towards your own training center, marketing support and training to the teachers with<br> study material will be provided by our institute.</p>
                                        </div>
                                    </div>
                                </li>
                                <li data-transition="fade">
                                    <img src="images/slider/3.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Innovative Methods of Teaching</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>The basic benefit of abacus is the ability to calculate rapidly and accurately.<br> However, the ripple effects of abacus learning is much more as it improves numerical memry, development<br> of right brain, verbal thinking and image processing and thus lead to greater mental capacity,<br> enhance creativity, improves concentration etc..</p><br>
                                        </div>
                                    </div>
                                </li>
                                 <li data-transition="fade">
                                    <img src="images/slider/3.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Embedd in School Curriculum</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>Special package for private schools, who want to introduce abacus training as a part of their regular curriculum.</p>
                                        </div>
                                    </div>
                                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                                        <div class="slide-content-box">
                                            <div class="button">
                                                <a class="thm-btn yellow-bg" href="{{ url_for('career') }}">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>     
        </section>
        <!--End rev slider wrapper-->
       		
		{% include 'partials/about.html' %}

        {% include 'partials/ourservices.html' %}

        <!--call-to-action section-->
        <section class="call-to-action">
            <div class="container">
                <div class="overlay">
                    <div class="row">
                        <div class="col-md-9">
                            <h3>Partner with Us</h3>
                            <h4>Be a franchise of Study Abacus and Vedic Maths.</h4>
                        </div>
                        <div class="col-md-3">
                            <ul class="link_btn">
                                <li><a href="{{ url_for('contact') }}" class="thm-btn">Apply Now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--call-to-action section end -->
        
        {% include 'partials/reviews.html' %}

        {% include 'footer.html' %}

    </div>
{% endblock %}
