{% extends 'base.html' %}

{% block content %}
    <div class="boxed_wrapper">

        {% include 'header.html' %}

        <!--Start rev slider wrapper-->
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px">
                     <div class="rev_slider_wrapper">
                        <div id="slider1" class="rev_slider" data-version="5.0">
                            <ul>

                                <li data-transition="fade">
                                    <img src="images/slider/1.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">


                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Abacus and Vedic Maths Programme</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>Enhancing the mental power and mathematic aptitude of children team <br>Brain 'o' Mind Tutorials aims to provide best courses for children of any age</p>
                                        </div>
                                    </div>
                                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                                        <div class="slide-content-box">
                                            <div class="button">
                                                <a class="thm-btn yellow-bg" href="contact.html">About Courses</a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li data-transition="fade">
                                    <img src="images/slider/2.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">


                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Teacher Training and Franchise</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>Complete support towards your own training center, marketing support and training to the teachers with<br> study material will be provided by out institute.</p>
                                        </div>
                                    </div>
                                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                                        <div class="slide-content-box">
                                            <div class="button">
                                                <a class="thm-btn yellow-bg" href="contact.html">Learn More</a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li data-transition="fade">
                                    <img src="images/slider/3.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">


                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Innovative Methods of Teaching</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>The basic benefit of abacus is the ability to calculate rapidly and accurately.<br> However, the ripple effects of abacus learning is much more as it improves numerical memry, development<br> of right brain, verbal thinking and image processing and thus lead to greater mental capacity,<br> enhance creativity, improves concentration etc..</p><br>
                                        </div>
                                    </div>
                                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                                        <div class="slide-content-box">
                                            <div class="button">
                                                <a class="thm-btn yellow-bg" href="contact.html">Learn More</a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                 <li data-transition="fade">
                                    <img src="images/slider/3.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">


                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="100" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <h1>Embedd in School Curriculum</h1>
                                        </div>
                                    </div>
                                    <div class="tp-caption  tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="200" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-splitin="none" data-splitout="none" data-start="700">
                                        <div class="slide-content-box">
                                            <p>Special package for private schools, who want to introduce abacus training as a part of their regular curriculum.</p>
                                        </div>
                                    </div>
                                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="700">
                                        <div class="slide-content-box">
                                            <div class="button">
                                                <a class="thm-btn yellow-bg" href="contact.html">Learn More</a>
                                            </div>
                                        </div>
                                    </div>

                                </li>


                            </ul>
                        </div>
                    </div>
        <!--End rev slider wrapper-->
                </div>
                <!--
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="winners">
                    <h1 class="text-center">WINNERS</h1>
                    <div class="stu_month">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <img src="images/profile_photo.png" alt="Avatar" style="width:70px">
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p>
                                            <span>
                                                 STUDENT OF THE MONTH<BR>
                                            </span>
                                        </p>
                                    </div>    
                                </div>
                                 <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>
                                           <b>NAME:</b><br>Jatin Katyal<br>
                                           <b>CI NAME:</b><br>Monica Katyal<br>
                                        </p>
                                    </div>    
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>
                                           <b>LEVEL:</b><br>2<br>
                                           <b>CENTER:</b><br>Rohini<br>
                                        </p>
                                    </div>    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="stu_month">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <p><b>Prize Name:</b></p>
                                <p><b>Prize Name:</b></p>
                                <p><b>Prize Name:</b></p>
                                <p><b>Prize Name:</b></p>
                                <p><b>Prize Name:</b></p>
                                <p><b>Prize Name:</b></p>
                                <p><b>Prize Name:</b></p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <p>Student Name</p>
                                <p>Student Name</p>
                                <p>Student Name</p>
                                <p>Student Name</p>
                                <p>Student Name</p>
                                <p>Student Name</p>
                                <p>Student Name</p>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>     
        </section>
       		
		<!--about start-->
        <section class="about" style="background-image:url(images/background/about-bg.jpg);">
            <div class="container">
                <div class="item-box">
                    <div class="row">
                        <div class="single-column col-md-6 col-sm-12">
                            <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                                <div class="post-content">
                                    <div class="sec-title">
                                        <h2>Welcome to Study Abacus</h2>
                                    </div>
                                    <div class="text">
                                        <p>
                                            Team STUDY ABACUS set up by a group of professionals who are from different walks of life and were involved in various educational and socio-cultural activities in their own respective areas. All these like minded individuals decided to join together and serve the society.<br><br>
                                            Team STUDY ABACUS believes by imparting education to women and children will empower them to stand in the society on their own and to make them self-reliant to earn themselves improve and develop local educational and cultural programs and in doing so in turn provide better opportunities for children and women.
                                        </p>
                                        <br>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="single-column col-md-6 col-sm-12" id="mission">
                            <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                                <h4><u><b>Mission</b></u></h4>
                                <p>Our mission is to reach to maximum number of kids, train them to create a strong foundation for mathematics through abacus for our children with efficiency and accuracy.</p>
                                <br>
                                <h4><u><b>Vision</b></u></h4>
                                <p>Our vision is to grow nationally with continuous research &amp; development and introducing high class programmes and trainings, keeping in mind the children of the Nation and building up relations with its business partners, franchises, employees etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--about end-->

		<!--our-service start-->
        <section class="our-service">
            <div class="container">
                <div class="sec-title text-center">
                    <h2>Our Services</h2>
                    
                </div>

                <div class="item-box">
                    <div class="row">

                        <div class="column col-md-4 col-sm-12">
                            <div class="item right">
                                <div class="icon"><span class="fa fa-graduation-cap"></span>
                                </div>
                                <h4><a href="#">Experience Teachers</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                            </div>
                            <div class="item right">
                                <div class="icon"><span class="fa fa-heart"></span>
                                </div>
                                <h4><a href="#">Love & Care</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                            </div>
                            <div class="item right">
                                <div class="icon"><span class="fa fa-cutlery"></span>
                                </div>
                                <h4><a href="#">Delicious Food</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                            </div>
                        </div>

                        <div class="column col-md-4 col-sm-12">
                            <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                                <figure class="img-box">
                                   <img src="images/service/1.png" alt="">
                                   
                                </figure>
                            </div>
                        </div>

                        <div class="column col-md-4 col-sm-12">
                            <div class="item left">
                                <div class="icon"><span class="fa fa-car"></span>
                                </div>
                                <h4><a href="#">Transportation</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                            </div>
                            <div class="item left">
                                <div class="icon"><span class="fa fa-leaf"></span>
                                </div>
                                <h4><a href="#">Physical Activity</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                            </div>
                            <div class="item left">
                                <div class="icon"><span class="fa fa-shield"></span>
                                </div>
                                <h4><a href="#">Meny Sports</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--our-service end-->

        

        <!--call-to-action section-->
        <section class="call-to-action">
            <div class="container">
                <div class="overlay">
                    <div class="row">
                        <div class="col-md-9">
                            <h3>Apply Now for your Kids</h3>
                            <p>Cupidatat non proident sunt culpa qui officia deserunt mollit anim idest laborum</p>
                        </div>
                        <div class="col-md-3">
                            <ul class="link_btn">
                                <li><a href="#" class="thm-btn">Apply Now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--call-to-action section end -->
		
		<!--our-courses section-->
        <section class="our-courses">
            <div class="container">
                <div class="sec-title text-center">
                    <h2>Our Courses</h2>
                    <p>Cupidatat non proident sunt culpa qui officia deserunt mollit anim idest laborum </p>
                </div>
                <div class="item-box">
                    <div class="row">
                        <div class="item-list">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <div class="item">
                                    <figure class="image-box">
                                        <img src="images/courses/1.png" alt="" />
                                    </figure>
                                    <div class="content">
                                        <div class="price">
                                            <h4>ABACUS (Basic)</h4>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Duration: 1.5 years<br>
                                                Levels: Basic(6) &amp; Advance(4)<br>
                                                Classes: 2 hours/week
                                            </span>                     
                                                                                            
                                        </div>
                                        <div class="button">
                                            <a href="#" class="course-btn">More Details ...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <div class="item">
                                    <figure class="image-box">
                                        <img src="images/courses/1.png" alt="" />
                                    </figure>
                                    <div class="content">
                                        <div class="price">
                                            <h4>ABACUS (Advance)</h4>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Duration: 1.5 years<br>
                                                Levels: Basic(6) &amp; Advance(4)<br>
                                                Classes: 2 hours/week
                                            </span>                     
                                                                                            
                                        </div>
                                        <div class="button">
                                            <a href="#" class="course-btn">More Details ...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="item-box">    
                    <div class="row">
                        <div class="item-list">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <div class="item">
                                    <figure class="image-box">
                                        <img src="images/courses/1.png" alt="" />
                                    </figure>
                                    <div class="content">
                                        <div class="price">
                                            <h4>VEDIC MATHS</h4>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Duration: 1.5 years<br>
                                                Levels: Basic(6) &amp; Advance(4)<br>
                                                Classes: 2 hours/week
                                            </span>                     
                                                                                            
                                        </div>
                                        <div class="button">
                                            <a href="#" class="course-btn">More Details ...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                 <div class="item">
                                    <figure class="image-box">
                                        <img src="images/courses/1.png" alt="" />
                                    </figure>
                                    <div class="content">
                                        <div class="price">
                                            <h4>ENGLISH GRAMMER</h4>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Duration: 1.5 years<br>
                                                Levels: Basic(6) &amp; Advance(4)<br>
                                                Classes: 2 hours/week
                                            </span>                     
                                                                                            
                                        </div>
                                        <div class="button">
                                            <a href="#" class="course-btn">More Details ...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="row">
                        <div class="item-list">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <div class="item">
                                    <figure class="image-box">
                                        <img src="images/courses/1.png" alt="" />
                                    </figure>
                                    <div class="content">
                                        <div class="price">
                                            <h4>HANDWRITING IMPROVEMENT</h4>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Duration: 1.5 years<br>
                                                Levels: Basic(6) &amp; Advance(4)<br>
                                                Classes: 2 hours/week
                                            </span>                     
                                                                                            
                                        </div>
                                        <div class="button">
                                            <a href="#" class="course-btn">More Details ...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <div class="item">
                                    <figure class="image-box">
                                        <img src="images/courses/1.png" alt="" />
                                    </figure>
                                    <div class="content">
                                        <div class="price">
                                            <h4>CALLIGRAPHY</h4>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Duration: 1.5 years<br>
                                                Levels: Basic(6) &amp; Advance(4)<br>
                                                Classes: 2 hours/week
                                            </span>                     
                                                                                            
                                        </div>
                                        <div class="button">
                                            <a href="#" class="course-btn">More Details ...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="row">
                        <div class="item-list">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <div class="item">
                                    <figure class="image-box">
                                        <img src="images/courses/1.png" alt="" />
                                    </figure>
                                    <div class="content">
                                        <div class="price">
                                            <h4>LEARNING SKILL</h4>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Duration: 1.5 years<br>
                                                Levels: Basic(6) &amp; Advance(4)<br>
                                                Classes: 2 hours/week
                                            </span>                     
                                                                                            
                                        </div>
                                        <div class="button">
                                            <a href="#" class="course-btn">More Details ...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--our-courses section end-->
		
		<!--founder section-->
        <section class="founder" style="background-image:url(images/background/founder.jpg);">
            <div class="container">
                <div class="overlay">
                    <div class="founder-carousel">

                        <div class="item">
                            <figure class="icon-box">
                                <i class="icon fa fa-quote-right" aria-hidden="true"></i>
                            </figure>
                            <div class="content-holder">
                                <h4>Samanta Doe - <span>(Students Mother)</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            </div>
                        </div>
                        <div class="item">
                            <figure class="icon-box">
                                <i class="icon fa fa-quote-right" aria-hidden="true"></i>
                            </figure>
                            <div class="content-holder">
                                <h4>Samanta Doe - <span>(Students Mother)</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            </div>
                        </div>
                        <div class="item">
                            <figure class="icon-box">
                                <i class="icon fa fa-quote-right" aria-hidden="true"></i>
                            </figure>
                            <div class="content-holder">
                                <h4>Samanta Doe - <span>(Students Mother)</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--founder section end-->

        {% include 'footer.html' %}

    </div>
{% endblock %}