{% extends 'base.html' %}

{% block content %}
    <div class="boxed_wrapper">

        {% include 'header.html' %}

        <!--Page Title-->
        <section class="page-title">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                        <h1>VEDIC MATHS</h1>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right path"><a href="index-2.html">Home</a>&ensp;>&ensp;<a href="#">Programmes</a>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
        </section>
        <!--Page Title Ends-->
		<!--course-single start-->
        <section class="course-single">
            <div class="container">
                <div class="row clearfix">
                    <div class="column col-md-4 col-sm-12 col-xs-12">
                        <div class="course">
                            <div class="sec-title">
                                <h3>Course Informations</h3>
                            </div>
                            <ul class="informations">
                                <li><span class="icon-left fa fa-calendar"></span>Start Date<span class="text-right">Jan 15, 2017</span>
                                </li>
                                <li><span class="icon-left fa fa-birthday-cake"></span>Years Old<span class="text-right">03 - 05 Years</span>
                                </li>
                                <li><span class="icon-left fa fa-anchor"></span>Course Size<span class="text-right">09 Seats</span>
                                </li>
                                <li><span class="icon-left fa fa-clock-o"></span>Durations<span class="text-right">9AM - 3PM</span>
                                </li>
                                <li><span class="icon-left fa fa-user"></span>Course Staff<span class="text-right">2 Teachers</span>
                                </li>
                                <li><span class="icon-left fa fa-money"></span>Course Price<span class="text-right">$50.00</span>
                                </li>
                            </ul>
                            <ul class="link_btn text-center">
                                <li><a href="#" class="thm-btn">Enroll now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column col-md-8 col-sm-12 col-xs-12">
                        <div class="outer-box">
                            
                            <div class="content-box">
                                <div class="sec-title">
                                    <h2>Students' Vedic Maths Training</h2>
                                </div>
                                <div class="text">
                                    <p>Vedic Mathematics has no legal definition. Hindu philosophy is based on Vedas (ancient scriptures written in Sanskrit, some say as old as 5000 B.C.) and mathematics translated from these texts is termed as Vedic Mathematics. These ancient scriptures were rediscovered by Sri Bharati Krisna Tirthaji (1884-1960) and he translated the complex text into simpler understandable mathematics.</p>
                                </div>

                                <div class="text">
                                    <p>The system is based on 16 Vedic sutras or aphorisms and 14 sub-sutras, which are actually word formulae describing natural ways of solving a whole range of mathematical problems. Some examples of sutras are "By one more than the one before", "All from 9 &amp; the last from 10", and "Vertically &amp; Crosswise". These 16 one-line formulae originally written in Sanskrit, which can be easily memorized, enables one to solve long mathematical problems quickly. These formulae describe the way the mind naturally works and are therefore a great help in directing the student to the appropriate method of solution.</p>
                                </div>
                                <div class="text">
                                    <p>The sutras are useful in calculating many intricate calculations, which calculator fails to do. Few applications in regular curriculum includes multiplication, division, squares, square roots, cube, cube roots, algebra etc.</p>
                                </div>
                                <div class="text">
                                    <p>STUDY ABACUS offers following Abacus programme for the children between age group of 12 yrs to 18 yrs.<br>
                                    For details/ information/ fee structure etc. you may kindly contact at info@studyabacus.com.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--course-single end-->
		
        {% include 'footer.html' %}
        
    </div>
{% endblock %}