<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    		<link rel="icon" type="image/x-icon" href="images/favicon.png" />
	    <title>Study Abacus | Learn Vedic Maths | Teacher Training | Start-Up</title>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script>
        $(function(){
          $("#header").load("header.html")
          $("#footer").load("footer.html")
          $("#upper").load("include_upper.html")
          $("#bottom").load("include_bottom.html")
        })
      </script>
      <div id="upper"></div>
</head>


<body class="page page-id-857 page-template-default themerex_body body_style_boxed body_filled theme_skin_education article_style_stretch layout_single-standard template_single-standard top_panel_style_light top_panel_opacity_solid top_panel_show top_panel_above menu_right user_menu_show sidebar_hide bg_image_2 wpb-js-composer js-comp-ver-4.6.1 vc_responsive">
	
	
	
	<div class="body_wrap">

		
		<div class="page_wrap">

						
			<div class="top_panel_fixed_wrap"></div>

			  <div id="header"></div>
                 <style>
				.page_top_wrap{
					background-color:#018763 !important;
						
				}
				
				</style>
            	<div class="page_top_wrap page_top_title page_top_breadcrumbs">
               
					<div class="content_wrap">
						<div class="breadcrumbs">
								<a class="breadcrumbs_item home" href="index.php">Home</a>
                                <span class="breadcrumbs_delimiter"></span>
                                <span class="breadcrumbs_item current">Learning Centers</span>							
                        </div>
<h1 class="page_title" style="color:#fff">Learning Centers</h1>
											</div>
				</div>
			
			<div class="page_content_wrap">

				
<div class="content">
<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-756 page type-page status-publish hentry">
<section class="post_content" itemprop="articleBody"><div class="sc_reviews alignright"><!-- #TRX_REVIEWS_PLACEHOLDER# --></div>
<div class="vc_row wpb_row vc_row-fluid">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="wpb_wrapper">
<div class="sc_section accent_top bg_tint_light" data-animation="animated fadeInUp normal" style="background-color:#f4f7f9;"><div class="sc_section_overlay" style="">
<div class="sc_section_content">
<div class="sc_content content_wrap" style="margin-top:2.5em !important;margin-bottom:2.5em !important;">

<div class="columns_wrap sc_columns columns_nofluid"><div class="sc_column_item sc_column_item_1"><div class="sc_section" style="font-size:1.25em; line-height: 1.3em; margin-right:5%">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
        <center>
        <!--<script>
		function clear(){
		$("#search").on("click", function() {
			if ($(this).val() == "Search")
				$(this).val("")
		});}
		</script>-->
        <form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method="POST">
        <input type="text" name="search" id="search" title="Enter your Search Query" placeholder="Search" style="background-color:#FFF"> <input type="submit" value="Search" name="submit">
        </form>
        </center>
		<br>
        <br>
        <style>
		table{
			color:#000;
		}
		</style>
		<!--Centers Start-->




        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-3, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Monica Katyal </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>G-27 / 104, First Floor, Sector-3, Rohini, Delhi-110085</td>
        </tr>
		</table>
		<br><br>



		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Inder Puri, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Vimmi Arora </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>WZ-276, G-5, Inder Puri, Delhi-110012</td>
        </tr>
		</table>
		<br><br>


		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Naraina Vihar, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Vimmi Arora </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>E-150, 2nd Floor, near Gyan Mandir Public School, Naraina Vihar, New Delhi-110028</td>
        </tr>
		</table>
		<br><br>



		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-2, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Savitri Bisht </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Flat no.- 336, Pocket-5, Sector-2, Rohini, Delhi-110085</td>
        </tr>
		</table>
		<br><br>




		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-24, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Savitri Bisht </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Flat No.-58, First Floor, Pocket-25, Sector-24, Rohini, Delhi-110085</td>
        </tr>
		</table>
		<br><br>


		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Budh Vihar-I, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Suman Jain </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>I-3, near Hanuman Mandir, Budh Vihar-I, Delhi-110086</td>
        </tr>
		</table>
		<br><br>



		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">IP Extension</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Kavita Bisht</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>A-76, 4th Floor, Street No. 6, West Vinod Nagar, IP Extension, Delhi-110092</td>
        </tr>
		</table>
		<br><br>





		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Inder Puri, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Neeraj Sharma </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>WZ 235 H Inder Puri, Delhi-110012</td>
        </tr>
		</table>
		<br><br>




		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-16, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Sunita Khurana </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>A-1 / 126, Ground Floor, Sector-16, Rohini, Delhi-110085</td>
        </tr>
		</table>
		<br><br>




		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-22, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Raghav Kumar </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Plot no. - 317-318, Pocket - 4, Sector-22, Rohini, Delhi-110086 </td>
        </tr>
		</table>
		<br><br>




		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-21, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Raghav Kumar</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Plot no. - 49, Pocket - 6, Sector-21, Rohini, Delhi-110086</td>
        </tr>
		</table>
		<br><br>




		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Dwarka, Sector-1, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Rohit Bindra</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Sur Sangam Kala Academy, A-1 / 1, Mahavir Enclave near Sector-1, Dwarka, Delhi-110075</td>
        </tr>
		</table>
		<br><br>


		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Pitampura, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Sonam Gupta </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>NP-135 B, Pitampura, Delhi-110034</td>
        </tr>
		</table>
		<br><br>





		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-3, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Sarita Garg </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>F-24 / 210, First Floor, Sector-3, Rohini, Delhi-110085</td>
        </tr>
		</table>
		<br><br>





		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Dehradun, Uttarakhand</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Shelly Gupta </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>38 / 4, Vase Estate, Canal Road, Rajpur Road, Dehradun, Uttarakhand</td>
        </tr>
		</table>
		<br><br>




		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Dwarka, Sector-14, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Pooja Rani </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Edu Smile Playway<br>225, Pocket-B, Om Apartments, Sector-14, Dwarka, Delhi-110075</td>
        </tr>
		</table>
		<br><br>



		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Shastri Nagar, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Madhuri Bindra </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>B 1617, Near B-Block Gurudwara, Shastri Nagar, Delhi-110052</td>
        </tr>
		</table>
		<br><br>


        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Kundli, Sonipat, Haryana</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Simran Sikka</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>R-1 / 904, Kingsbury Apartments, TDI City, Kundli-131023</td>
        </tr>
        </table>
        <br><br>




        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Kundli, Sonipat, Haryana</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Nisha Chopra</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>C-2/902, Tulip Grand, Kundli</td>
        </tr>
        </table>
        <br><br>





        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Tagore Garden, New Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Harshita</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>House No.-74, First Floor, Tatarpur, Tagore Garden, Delhi-110027</td>
        </tr>
        </table>
        <br><br>





        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Sultanpuri, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Raghav Kumar</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>145 / 5, Friends Enclave, Sultanpuri, Delhi-110041</td>
        </tr>
        </table>
        <br><br>




        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-23, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Raghav Kumar</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>A-209, Jaswant Colony, Budh Vihar-II, Near Rohini Sector-23 Bus Stop, Delhi-110086</td>
        </tr>
        </table>
        <br><br>



        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Saraswati Vihar, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Pinki Jain</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Pragyan Institute, C-339, Saraswati Vihar, Near Post Office, Delhi-110034</td>
        </tr>
        </table>
        <br><br>




        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Shahjhanpur, Uttar Pradesh</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Rachna Mehrotra</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>House no. - 388, Chowk Masjid Ganj, Shahjhanpur, Uttar Pradesh</td>
        </tr>
        </table>
        <br><br>





        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-16, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Disha Rughwani</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>E-1 / 39, Ist Floor, Sector-16, Rohini, Delhi-110085</td>
        </tr>
        </table>
        <br><br>




        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-24, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Poonam Gupta</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>29, Ist Floor, Pocket-16, Sector-24, Rohini, Delhi-110085</td>
        </tr>
        </table>
        <br><br>



        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Moti Nagar, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Deepa Arora</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>D-13 B, Ist Floor, Moti Nagar, Delhi-110015</td>
        </tr>
        </table>
        <br><br>



        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Bahadurgarh, Haryana</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Kirti Chugh</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>H.No. - 2014, Sector-6, Near Auto Stand, Bahadurgarh, Haryana</td>
        </tr>
        </table>
        <br><br>





        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-7, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Poonam Arora / Monika Singhal</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Learning Point, E-4 / 118, Sector-7, Rohini, Delhi-110085</td>
        </tr> 
        </table>
        <br><br>




        <span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
        <table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Mayur Vihar, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Rajni Panwar</td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>7-P, Pocket-2, Mayur Vihar-III, Delhi110096</td>
        </tr> 
        </table>
        <br><br>





		<span class="sc_icon icon-pen-2 alignleft link_color" style="display:block;margin-right:0.5em;margin-bottom:0.15em;font-size:200%; line-height: 1em;"></span>
		<table style="font-size:18px">
        <tr>
          <td colspan="2"> <span style="font-family:'Times New Roman', Times, serif; font-size:24px; line-height:36px">Rohini, Sector-3, Delhi</span> </td>
        </tr>
        
        <tr></tr>
        
        <tr>
        <td> Contact Person: &nbsp;</td>
        <td>Savitri Bisht </td>
        </tr>
        
        <tr> 
        <td> Address: </td>
        <td>Nexus Tutorial, B-5 / 142, Near Gurudwara, Sector-3, Rohini, Delhi-110085</td>
        </tr>
		</table>
		<br><br>





		</div> 
	</div> </div></div></div></div></div></div></div></div></div></div>
    
  						
                            <div id="footer"></div>	<!-- /.contacts_wrap -->
						
		</div>	<!-- /.page_wrap -->

	</div>		<!-- /.body_wrap -->

<a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

<div class="custom_html_section">
</div>

<div id="bottom"></div>


</body>

</html>
